body{
    background: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* font-family: 'Teko', sans-serif; */

}
h1,h2,h3,h4
{
    margin: 2px;
} 
.cv{
    display: flex;
    padding: 40px;
    flex-direction: column;
    box-sizing: border-box;
    width: 100vw;
    max-width: 1000px;
    min-height: 1000px;
    background: whitesmoke;
    margin: 40px;
}
.upper{
    display: flex;
    border-bottom: 1px solid #000;
    margin-bottom: 5px;

}
.below__item__title
{
    position: relative;
}
.cv::before{
    content: "";
    left: -40px;
    top: 80px;
    position: relative;
    width: 30px;
    height: 50px;
    background-color: black;
 }
 .below__item__title::before
 {
    content: "";
    left: -52px;
    position: absolute;
    width: 30px;
    height: 50px;
    background-color: cadetblue;
 }

.below{
    display: flex;
    flex-direction: row;
}
.below__rightitem
{
    display: flex;
    align-self: flex-end;
    background-color: aquamarine;
    flex: 1;
}
.below__leftitems{
    flex: 1;
    margin:10px

}
.below__rightitems
{
    flex: 1;
    margin:10px
}
.below__item
{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.below__item ul
{
    font-size: smaller;
    padding-inline-start: 10px;
    margin: 0px;
}
.below_leftitem--workexp
{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.below_rightitems--skills
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* justify-content: space-evenly; */
    margin-top: 10px;
    margin-bottom: 55px;
    flex: 1;
    /* font-size: large; */
    gap: 13px; 
}
.below_rightitems--certificates
{
    margin-bottom: 55px;
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    gap: 5px;
}
.below_rightitems--certificates p
{
    
    font-weight: normal;
    color: gray;
    font:menu;
    margin: 2px;
}
.below_rightitems--organazation
{
   margin-bottom: 55px;
   display: flex;
   flex-direction: column;
   margin-top: 10px;
   gap: 5px;
}
.below_rightitems--organazation p
{
    font-weight: normal;
    color: gray;
    font:menu;
    margin: 2px;
}

.below_rightitems--languages p
{
    margin:0px;
    font-weight:normal;
    color: cadetblue;
    font:menu; 
}
.below_rightitems--languages
{
    margin-top: 10px;
    margin-bottom: 55px;
}
.below_rightitems--Interests
{
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   margin-bottom: 20px;
   box-sizing: border-box;
   font-size: large;
   margin-top: 10px;
   gap: 10px;
}
.below_rightitems--Interests span
{
    background-color: transparent;
    color :black;
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    border-width: thin;
    padding: 4px; 
}
.bolow__achivements
{
    font-size: small;
    font-weight: bold;
    color: cadetblue;
    /* margin-bottom: 0px!important; */
}
.rightside__skill{
    background-color: gray;
    color :whitesmoke;
    border-radius: 3px;
    flex-grow: 0;
    padding: 4px;
 }
 /* .rightside__skill--lastmod
 {
     flex-grow: 0;
 } */

.below_itemdate
{
    display: flex;
    justify-content: space-between;
} 
.below_itemdate date{
    color: cadetblue;
    font-weight: lighter;
    align-self: end;
    margin-top: 11px;
    margin: 3px;
    font: menu;
}



.upperitem{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 10px;
    /* align-items: baseline; */
}
.upperitem--details
{
    align-items: flex-start;   
}
.details__name
{
    font-weight: 800;
    font-size: larger;
}
.details__title
{
    color: cadetblue;
    font: menu;
    font-weight: bold;
}
.details__info
{
    font: small-caption;
    font-size: smaller;
    margin-top: 10px;
}

.upperitem--photo
{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    align-self: center;
    align-items: center;
}
.photo__img
{
    width: 120px;
    height: 120px;
    border: 5px solid  cadetblue;
    border-radius: 50%;
    overflow: hidden;
}
.upperitem--info
{
    align-items: flex-end;
}
.info__item{
    display: flex;
    align-items: center;
}
.info__item img
{
    height: 16px; 
    width: 16px;
    margin: 5px;
}
li {
    color: cadetblue;
    margin:10px;
}
li span {
    color: black;
}
