
/* .wr{
    width: 100vw;
    height: 100vh;
    background-color: gray; */
    body{
        background-color: cadetblue;
    }
    
  
    li {
        color: cadetblue;
        margin:10px;
    }
    li span {
        color: black;
        /* Text Color */
    }
.container{
    background-color: whitesmoke;
    width:50vw;
    margin: 0 auto;
    height: 100%;
    
    
}
h4{
    margin: 0;
}
h2{
    font-weight: bolder;
}
h3{
    font-weight: bold;
}
.date{
    color: cadetblue;
    font-weight: lighter;

}
#name{
    font-weight: bolder;
    font-style: italic;
    font-size: larger;
    font-family: cursive;
}

#title{
    color:cadetblue ;
}
.first{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin: 50px;
    flex-direction: row;
    height: 25vh;
    justify-content: space-between;
}
.second{
    display: grid;
    column-gap: 50px;
    grid-template-rows:100vh ;
    margin: 50px;
    flex-direction: column;
    height: 100vh;
    gap: 50px;
    justify-content: space-between;
}
.skills{
   grid-column: 2;
  
}
.skillsflex{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 5px;
    flex: 1;
    gap: 10px;
}
.Interests{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
    box-sizing: border-box;
    flex: 1;
    gap: 10px;

}
.Interests span{
background-color: transparent;
color :black;
border-radius: 5px;
border-style: solid;
border-color: black;
border-width: thin;
padding: 5px;;
}
.skillsSpan{
background-color: gray;
color :whitesmoke;
border-radius: 20px;
flex-grow: 1;

}
.Certificates{
    grid-column: 2;

}
.SecondD{
    grid-column: 1;


}
.educationgr{
    background-color: whitesmoke;
    width:70vw;
    margin: 0 auto;
    height: 100vh;

}

.photowrapper{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    
    align-self: center;
    background-image: url(../Photos/photocv_.jpg);
}
.headshot {
    width: 130px;
    
    height: 130px;
    border: 5px solid  cadetblue;
    border-radius: 50%;
    
}
.asideright{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
}
.asideleft{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

}

.headshot-container {
    display: flex;
    align-self: flex-start;
    justify-content: center;
    padding: 10px;
}
    
    


hr{
    display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
    
}